<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE_CODE %}
<html lang="{{ CURRENT_LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}scubaclub.org{% endblock %} | scubaclub.org</title>
    <link rel="icon" type="image/x-icon" href="{% static 'website/images/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <img src="{% static 'website/images/scubaclub.png' %}" alt="ScubaClub" class="logo">
            <a href="{% url 'website:home' %}"><h1>scubaclub.org</h1></a>
        </div>
        <nav>
            {% if user.is_authenticated %}
                {% trans "Welcome," %} {{ user.username }} |
                <form action="{% url 'website:logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-link">{% trans "Logout" %}</button>
                </form>
            {% else %}
                <a href="{% url 'website:login' %}">{% trans "Login" %}</a> |
                <a href="{% url 'website:register' %}">{% trans "Register" %}</a>
            {% endif %}
            | <a href="{% url 'website:dive_clubs' %}">{% trans "Dive Clubs" %}</a>
            | <a href="{% url 'website:upcoming_dives' %}">{% trans "Upcoming Dives" %}</a>
            | <a href="{% url 'website:dive_locations' %}">{% trans "Dive Locations" %}</a>
        </nav>


    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <form action="/i18n/setlang/" method="post">
            {% csrf_token %}
            <select name="language">
                {% get_current_language as CURRENT_LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                    <option value="{{ lang.0 }}"{% if lang.0 == CURRENT_LANGUAGE_CODE %} selected{% endif %}>{{ lang.1 }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <input type="submit" value="{% trans 'Change language' %}">
        </form>
        <p>&copy; 2025 scubaclub.org | <a href="{% url 'website:privacy' %}">{% trans "privacy" %}</a></p>
    </footer>

</body>
</html>