{% extends "website/base.html" %}
{% load i18n %}

{% block title %}{% trans "Privacy policy" %}{% endblock %}

{% block content %}
<h2>{% trans "Privacy policy" %}</h2>
<p>{% trans "We collect data that you enter on this website. This data is being used to organize dives and to enable you to have an account. The data you enter on this website is not shared with other parties." %}</p>
<p>{% trans "We use cookies to make logging in on this website possible and also to enable technical analysis of the website to see if certain parts no longer work. We do not link this data to your IP or your login information. All IP information is anonimized if it is used for analyses." %}</p>
<p>{% trans "We use computer servers in Amsterdam, The Netherlands, to store and process data. Our email server is located in France." %}</p>

{% endblock %}