{% extends "website/base.html" %}
{% load i18n %}

{% block title %}{% trans "Upcoming Dives" %}{% endblock %}

{% block content %}
<h2>{% trans "Upcoming Dives" %}</h2>
<ul>
    {% for dive in dives %}
    <li>{{ dive.title }} - {{ dive.date|date:"F j, Y" }} at {{ dive.dive_location.name }}</li>
    {% empty %}
    <li>{% trans "No upcoming dives." %}</li>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <a href="{% url 'website:create_open_dive' %}">{% trans "Create Open Dive" %}</a>
{% else %}
    <p>{% trans "Please log in to organize your own dives." %}</p>
{% endif %}

{% endblock %}