{% extends "website/base.html" %}
{% load i18n %}

{% block title %}{% trans "Upcoming dives" %}{% endblock %}

{% block content %}
<h2>{% trans "Upcoming dives" %}</h2>

{% if user.is_authenticated %}
    <a href="{% url 'website:create_dive_event' %}">{% trans "Create a new dive" %}</a>
{% else %}
    <p>{% trans "Please log in to organize your own dives." %}</p>
{% endif %}

<ul>
    {% for dive in dives %}
    <li>
        <a href="{% url 'website:dive_detail' dive_id=dive.id %}">{{ dive.title }}</a> - {{ dive.date|date:"F j, Y" }} at <a href="{% url 'website:location_detail' location_slug=dive.dive_location.slug %}">{{ dive.dive_location.name }}</a>
        {% if dive.club %}
            (Club: <a href="{% url 'website:club_detail' club_slug=dive.club_slug %}">{{ dive.club_name }}</a>)
        {% else %}
            ({% trans "Open dive" %})
        {% endif %}
    </li>
    {% empty %}
    <li>{% trans "No upcoming dives." %}</li>
    {% endfor %}
</ul>

{% endblock %}